{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% block title %}
Comments
{% endblock title %}

{% block content %}
   <h1>Мои объявления!</h1>

   <hr>
   {% if my_posts %}
           {% for post in my_posts %}


               <h3> <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h3>,
               {{ post.content | safe}}<br>
                Автор: <b>{{ post.author }}</b><br>
               Категория: <b>{{ post.category }}</b><br>
                дата создания: <b>{{ post.time_in|date:'d M Y' }}</b>
<div class="text-center" >
        <button class="btn btn-lg btn-secondary"><a style="text-decoration: none; color: white" href="{% url 'post_delete' post.id %}">Удалить</a></button>
        <button class="btn btn-lg btn-secondary"><a style="text-decoration: none; color: white" href="{% url 'post_update' post.id %}">Изменить</a></button>
    </div>
<hr>
<br><br>
           {% endfor %}

   {% else %}
       <h2>Ничего нет!</h2>

   {% endif %}

   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}