<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% block title %}
{{ post.title}}
{% endblock title %}

{% block content %}

<h1>{{ post.title}}</h1>
<h4>by {{ post.author }}</h4>
<h2>{{ post.content | safe}}</h2>

{% if authenticated %}
 <div class="text-center" >

<button class="btn btn-lg btn-secondary"><a style="text-decoration: none; color: white" href="{{ post.pk }}/respond/">Откликнуться!</a></button>
{% endif %}
 </div>
{% endblock content %}